fastapi
uvicorn
python-multipart
chromadb
pymupdf
#sentence-transformers
pillow
#torch
numpy
google-generativeai   # DEPRECATED SDK - Use google-genai
python-dotenv
fastmcp
gradio
# observability
logfire[fastapi,google-genai]
arize-phoenix   # same as arize-phoenix-otel
langfuse
