fastapi
uvicorn
python-multipart
chromadb
pymupdf
pillow
numpy
google-genai    # google-generativeai SDK is DEPRECATED -> Use google-genai instead
python-dotenv
fastmcp
gradio
# observability
#logfire[fastapi,google-genai]
#arize-phoenix
langfuse
openinference-instrumentation-google-genai  # langfuse integration with google-genai sdk
# cloud migration
google-cloud-storage
pinecone
#ipykernel